.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

.image-container {
  min-width: 800px;
  min-height: 800px;
}

img {
  max-width: 800px;
  max-height: 800px;
  margin: 50px;
}